// body {
//   background: $background;
//   font: 400 13px "CoreSans", Arial,sans-serif;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
//   color: $fontColor;
//   letter-spacing: .02em;
//   position: relative;
//   margin: ($padding * 4) ($padding * 2);
// }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow-x: scroll;
  background: linear-gradient(to bottom right,#024,#402);
  color: #FFFFFF;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content {
  background: linear-gradient(to bottom right,#0a0044,rgba(68, 0, 34, 0.84));
}
