$padding: 20px;

$fontColor: #A0A0A0;

$hyperlinkHover: rgba(255, 255, 255, .8);
$hyperlinkActive: rgba(255, 255, 255, .4);
$hyperlinkVisited: rgba(200, 200, 200, .4);

$background: #1C1C1C;
$backgroundSecondary: #262626;
$backgroundSecondaryHover: rgba(89, 89, 89, 1);
